<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
<bean id="userService" class="com.javabrains.demo.service.UserServiceImpl">
	<property name="numOfUsers" value="2"></property>
	<property name="userDao" ref="dao"></property>
</bean>
<bean id="dao" class="com.javabrains.demo.dao.UserDaoImpl"/>
</beans>

